* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: white;

}

body {
    background: linear-gradient(90deg, rgba(135,206,235,1) 0%, rgba(0,189,254,1) 43%, rgba(90,222,255,1) 100%);
    /* background: rgb(21, 21, 21); */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 0 auto;
    font-size: 2vw;
}

#logoContain {
    position: relative;
    height: 150px;
    border: solid 1pt red;
}

#logo {
    z-index: 999;

}




#animationContain{
    position: absolute;
    border: solid 1pt red;
    width: 100vw;
    height: 185px;
    overflow: hidden;
}

#sun,
#largeCloud,
#AniCloud,
#bird,
#plane {
    position: absolute;
}

#sun {
    right: 300px;
    z-index: -1;
    transform: scale(.8);
    animation: sunrotate 100s linear infinite;

}

@keyframes sunrotate {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

#largeCloud {
    left: 10px;
    top: 10px;
    transform: scale(.6)scaleX(1.2);
    opacity: .8;
    z-index: -1;

}

#AniCloud {
    top: 35px;
    opacity: .9;
    transform: scale(.5);
    right: -67px;
    animation: cloudcrawl 100s linear infinite alternate;
}

@keyframes cloudcrawl {
    from {
        right: -67px;
    }
    
    to {
        right: 310px
    }
    
}

#bird {
    animation: birdcrawl 25s linear infinite forwards;
    right: -240px;
    transform: scale(.25);
    bottom: -50px;
    
}

@keyframes birdcrawl {
    from {
        right: -240px;
    }
    
    to {
        right: 1860px;
    }
    
}

#plane {
    animation: planecrawl 15s linear infinite forwards;
    right: -210px;
    transform: scale(.2);
    top: -80px
}

@keyframes planecrawl {
    from {
        right: -210px;
    }

    to {
        right: 2400px;
    }

}

#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D8F2FF;
    border-radius: 15px;
    height: 100%;
    margin: 0 1%;
    font-size: 18pt;
    flex-wrap: wrap;
}


#searchbarContainer {
    position: relative;
    display: flex;
    align-content: center;
    margin-left: 1%;
    padding: 10px;
    border-radius: 10px;
    width: 40%;

}


#autosearch {
    /* border: solid 6pt red; */
    width: 95%;
    top: 87%;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    z-index: 10;
}

#autosearch>button {
    border: none;
    text-align: left;
    font-size: 12pt;
    background-color: aliceblue;
    padding: 5px 0;
    padding-left: 10px;
    color: black;
}

#autosearch>button:hover,
#autosearch>button:active {
    background-color: #59879e;
    color: white;

}



#favCity {
    display: flex;
    align-content: center;
    align-items: center;
    align-content: center;
    margin: 0 1%;
    height: 100%;
}

.city,
.cityRecent {
    margin: 0 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
}

.cityRecent::before,
.city::before {
    z-index: -1;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(135, 206, 235, 1);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .2;

}

#citySearch {
    border-radius: 10px;
    width: 600px;
    height: 60px;
    border: none;
    color: black;
    padding-left: 15px;
    font-size: 18pt;
}

.city:hover,
.cityRecent:hover {
    cursor: pointer;
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: solid 11pt rgb(47, 173, 104); */
    margin: 15px 1%;
    gap: 10px;
}

#MainWeather {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #257eab;
    border-radius: 15px;
    width: 20%;
    height: 450px;


}

#cityTitle {
    font-size: 31pt;
}

#weatherLogo {
    margin-top: 10px;
    align-self: center;
    height: 200px;
    width: 100%;
    position: relative;
}

img {
    height: inherit;
}

.temp_degrees {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 60px;
    left: 0;
    bottom: 0;
    opacity: 1;
    margin: 0;
    padding: 0;

}

#hightemp {
    color: rgb(255, 106, 106);
}

#lowtemp {
    color: rgb(106, 195, 255);
}

.label {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    margin: 1pt;
    font-size: 18pt;
}


#FiveDayWeather {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 80%;
    height: 500px;
    position: relative;
    gap: 10px;
}

#titleFiveDay {
    position: absolute;
    left: 0;
    bottom: 0;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    height: 350px;
    width: 20%;
    background: rgb(142, 227, 255);
    border-radius: 15px;
    position: relative;

}


.five_day_titles {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translate(-50%);
    font-size: 22pt;
}

.material-symbols-outlined {
    margin-left: 10px;
}


@media screen and (max-width: 1524px) {

    #logoContain{
        display: flex;
        justify-content: center;
        overflow: hidden;
        /* width: 100vw; */
        border: solid 1pt red;
    }

    #searchbarContainer {
        position: relative;
        display: flex;
        align-content: center;
        margin-left: 1%;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
    
    }


    #citySearch {
        width: 100%;
    }    
       
    #favCity {
        flex-wrap: wrap;
        margin: 1% 1%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        /* border: solid 1pt red; */
    }




    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 15px 1%;
        gap: 10px;
        height: 100%;
    }

    #MainWeather {
        justify-content: space-evenly;
        width: 100%;
        height: 450px;

    }
    #FiveDayWeather {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        gap: 70px;
    }
    
    
    .day {
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 100%;
    
    }

}